<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>校友铭</title>
  <meta name="keywords" content="校友铭,校园社交,大学社交">
  <meta name="description" content="一个从大学开始扎根渐渐蔓延到社会的社交平台">
  <style>
    *{margin: 0; padding: 0; }
    html{height: 100%; min-height: 800px;}a{text-decoration: none; -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;}
    img{vertical-align: top; max-width: 100%; border:none;}
    body{background-color: #fff;font-family:Tahoma,"微软雅黑",MicrosoftYahei,"宋体"; height:100%;min-height: 800px; position: relative}
    .header{height:200px; padding-top: 30px; box-sizing: border-box; position: absolute; top: 0; left:0; right:0; background-color: #fff;}
    h1{background: #438afd; margin: 0 auto; width:120px; height:120px; border-radius: 15px; text-align: center; color: #fff; font-size: 72px; line-height: 120px;}
    .header p {line-height: 20px;text-align: center; color:#999; font-size: 14px; padding-top: 15px;}
    .main{height: 100%; background-color: #438afd; box-sizing: border-box; padding-top: 200px;}
    .contain{
      width: 1000px;
      margin: 0 auto;
      height: 100%;
    }
    .skin{background: url("./images/phone.png") no-repeat center 0%; margin: 20px; background-size: 100% auto; width: 300px; float: right; height: 623px;}
    .pinfo{float: left; width: 600px; color: #f0f0f0; padding-top: 70px;}
    .pinfo h4{font-size: 32px; color: #fff;}
    .pinfo p{height:150px; padding-top: 20px; line-height: 1.8;}
    .pinfo a{display: block; width: 160px; height:40px; line-height: 40px; text-align: center; color: #fff; border-radius: 5px; border: 1px solid #fff;}
    .pinfo a:hover{background-color: #fff; color: #438afd}
    .footer{position: absolute; left:0; bottom: 0; width: 100%; right:0;  text-align: center;font-size: 12px; color: #ccc; height: 30px; line-height: 30px;}

    @media (max-width: 640px) {
      .header{height:150px;}
      body,html{min-height: 640px}
      h1{width:72px; height:72px; border-radius: 10px}
      .contain{width:100%;}
      .pinfo h4{font-size: 24px;}
      .skin{display: none}
      .pinfo{float:none; text-align: center; width:100%; box-sizing: border-box; padding: 15px; height:auto;}
      .pinfo p{height:auto; text-align: left; padding:15px 0 25px;}
      .pinfo a{ margin: 15px auto; }
    }
  </style>
</head>
<body>
  <div class="header">
     <h1><img src="./images/logo.png" alt="校友铭"></h1>
     <p>首款能踏入社会的校园社交App</p>
  </div>
  <section class="main">
    <div class="contain">
         <div class="pinfo">
          <h4>校友铭</h4>
          <p>一个从大学开始扎根渐渐蔓延到社会的社交平台，特色功能包括（但不限于）扩展社交圈子，组织集体活动，校内互帮互助，丰富课外生活等。</p>
          <!-- <p>你的（老）校友都在这里等你呢，班里就差你一个了</p> -->
          <a href="javascript:;">敬请期待</a>
         </div>
      <div class="skin">
      
      </div>
    </div>
    
  </section>
  <div class="footer">
      校友铭 <!--20170320-->Copyright &copy; 2016
  </div>
</body>
</html>